WorksheetFour/ProjectXML_base/ProjectXML_base/bookstore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="bookstore" type="BookStoreType"></xs:element>

  <xs:complexType name="BookStoreType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="book" type="BookType"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name ="BookType">
    <xs:sequence>
      <xs:element name="title" type="xs:string" />
      <xs:element name="authors">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="author" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="year">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:pattern value ="\d{4}" />
            <xs:minInclusive value="1000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="rate">
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bookFormat" type="xs:string" />
      <xs:element name="publisher" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="category" type="categoryType" use="required" />
    <xs:attribute name="isbn" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="categoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WEB"/>
      <xs:enumeration value="CHILDREN"/>
      <xs:enumeration value="SCIENCE"/>
      <xs:enumeration value="ROMANCE"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>