Worksheet4/Sample/dei_sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:complexType name="personType" abstract="true">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="studentType">
    <xs:complexContent>
      <xs:extension base="personType">
        <xs:sequence>
          <xs:element name="number" type="xs:integer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="teacherType">
    <xs:complexContent>
      <xs:extension base="personType">
        <xs:sequence>
          <xs:element name="locker" type="xs:string"/>
          <xs:element name="office" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  
  <xs:complexType name="studentsType">
    <xs:sequence>
      <xs:element name="student" type="studentType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  
  <xs:complexType name="teachersType">
    <xs:sequence>
      <xs:element name="teacher" type="teacherType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="courseType">
    <xs:sequence>
      <xs:element name="scheme">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="D"/>
            <xs:enumeration value="PL"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="students" type="studentsType" minOccurs="0"/>
      <xs:element name="teachers" type="teachersType"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="ects" type="xs:integer" use="optional"/>
    <xs:attribute name="semester" type="xs:integer" use="optional"/>
    <xs:attribute name="degree" type="xs:string" use="required"/>
  </xs:complexType>
  
  
  <xs:complexType name="deiType">
    <xs:sequence>
      <xs:element name="dateBigining" type="xs:date"/>
      <xs:element name="dateEnd" type="xs:date"/>
      <xs:element name="course" type="courseType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="semester" type="xs:integer" use="required"/>
    <xs:attribute name="academicYear" type="xs:string" use="required"/>
  </xs:complexType>

<!-- This is the root element -->  
  <xs:element name="dei" type="deiType"/>

</xs:schema>
